/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow:400,700|PT+Sans+Caption:400,700&subset=latin,cyrillic);

body {
    background: #f9f9f9;
    font: 13px/22px "PT Sans";
    color: #555;
}

header {
    background: #f3f3f3;
    box-shadow: inset 0 -1px 0 #e3e3e3;
}

header .row {
    padding: 15px 0;
}

footer .row {
    border-top: 1px dotted #ccc;
    padding: 10px 0;
}

.page {
    padding: 20px 0;
}

.page .content {
    padding: 10px;
}
